.bg-grey{
  background-color: #aaa;
}
.bg-lightgrey{
  background-color: #e9ecef;
}
a{
  color: #ededed;
}
a:hover{
  text-decoration: none;
  color: #6c757d;
}
.border-grey{
  border-color: #ededed!important;
}
.tiny{
  font-size: 70%;
}
.min-height{
  min-height: 100rem;
}
.overflow-y{
  max-height: 40rem;
  overflow-y: auto;
}
.overflow-y a{
  color: #444;
}
.overflow-y a:hover{
  color: #aaa;
}
.display-5{
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
}
.rotation{
  -webkit-animation: rotation 10s infinite linear;
}
.rotation:hover{
  -webkit-animation: none;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
