.bg-grey{
  background-color: #aaa;
}

.border-grey{
  border-color: #ededed!important;
}

.sticky-offset{
  top: 9rem;
}
.pt-12{
   padding-top:12rem;
}
.min-height{
  min-height: 45em;
}
.tiny{
  font-size: 70%;
}
.rotation{
  -webkit-animation: rotation 10s infinite linear;
}
.rotation:hover{
  -webkit-animation: none;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
